<%- include("partials/header.ejs") %>

<div class="container text-center">
    <h1 class="poppins-semibold">Tell us about the last book you read</h1>
</div>
<br>
<div class="container text-center">
    <form action="/newReview" method="post">
        <div class="row">
            <label for="bookTitle" class="form-label poppins-semibold">Book's Title</label>
            <input type="text" name="title" id="bookTitle" class="form-control">
        </div>
        <div class="row">
            <div class="col-auto">
                <label for="bookAuthor" class="form-label poppins-semibold">Author</label>
                <input type="text" name="author" id="bookAuthor" class="form-control">
            </div>
            <div class="col-auto">
                <label for="bookRating" class="form-label poppins-semibold">Your personal rating out of 10</label>
                <input type="number" name="rating" id="bookRating" class="form-control">
            </div>
            <div class="col-auto">
                <label for="lastRead" class="form-label poppins-semibold">When did you finish it?</label>
                <input type="date" name="lastRead" id="lastRead" class="form-control">
            </div>
        </div>
        <div class="row">
            <label for="bookPlot" class="form-label poppins-semibold">Plot Summary</label>
            <input type="text" name="plot" id="bookPlot" class="form-control">
        </div>
        <div class="row">
            <label for="bookReview" class="form-label poppins-semibold">What are your thoughts on this book now that you're done reading it?</label>
            <input type="text" name="review" id="bookReview" class="form-control">
        </div>
        <input type="submit" value="Publish" class="btn btn-primary">
    </form>
</div>

<%- include("partials/footer.ejs") %>